# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
*.js
*.md
src/api/node_modules/string_decoder/LICENSE
*.json
*.txt
*.ts
*.info
*.yml
src/api/node_modules/serve-static/LICENSE
*.bnf
src/api/node_modules/semver/LICENSE
src/api/node_modules/send/LICENSE
*.lock
src/api/node_modules/sift/.babelrc
src/api/node_modules/setprototypeof/LICENSE
src/api/node_modules/semver/bin/semver
src/api/node_modules/sliced/LICENSE
src/api/node_modules/sparse-bitfield/.npmignore
src/api/node_modules/saslprep/LICENSE
src/api/node_modules/saslprep/.gitattributes
src/api/node_modules/utils-merge/.npmignore
src/api/node_modules/require_optional/LICENSE
src/api/node_modules/safe-buffer/LICENSE
src/api/node_modules/saslprep/.editorconfig
*.mem
src/api/node_modules/.bin/mime
src/api/node_modules/.bin/mime.cmd
src/api/node_modules/.bin/mime.ps1
src/api/node_modules/.bin/semver
src/api/node_modules/.bin/semver.cmd
src/api/node_modules/.bin/semver.ps1
src/api/node_modules/accepts/LICENSE
src/api/node_modules/array-flatten/LICENSE
src/api/node_modules/bl/.jshintrc
src/api/node_modules/bluebird/LICENSE
src/api/node_modules/body-parser/LICENSE
src/api/node_modules/bytes/LICENSE
src/api/node_modules/content-disposition/LICENSE
src/api/node_modules/content-type/LICENSE
src/api/node_modules/cookie-signature/.npmignore
src/api/node_modules/cookie/LICENSE
src/api/node_modules/core-util-is/float.patch
src/api/node_modules/core-util-is/LICENSE
src/api/node_modules/cors/LICENSE
src/api/node_modules/debug/.eslintrc
src/api/node_modules/debug/.npmignore
src/api/node_modules/debug/LICENSE
src/api/node_modules/debug/Makefile
src/api/node_modules/denque/LICENSE
src/api/node_modules/depd/LICENSE
src/api/node_modules/destroy/LICENSE
src/api/node_modules/ee-first/LICENSE
src/api/node_modules/encodeurl/LICENSE
src/api/node_modules/escape-html/LICENSE
src/api/node_modules/etag/LICENSE
src/api/node_modules/express-session/LICENSE
src/api/node_modules/express-session/node_modules/depd/LICENSE
src/api/node_modules/express-session/node_modules/safe-buffer/LICENSE
src/api/node_modules/express/LICENSE
src/api/node_modules/finalhandler/LICENSE
src/api/node_modules/forwarded/LICENSE
src/api/node_modules/fresh/LICENSE
src/api/node_modules/http-errors/LICENSE
src/api/node_modules/iconv-lite/LICENSE
src/api/node_modules/inherits/LICENSE
src/api/node_modules/isarray/.npmignore
src/api/node_modules/isarray/Makefile
src/api/node_modules/kareem/LICENSE
src/api/node_modules/kareem/Makefile
src/api/node_modules/media-typer/LICENSE
src/api/node_modules/memory-pager/LICENSE
src/api/node_modules/merge-descriptors/LICENSE
src/api/node_modules/methods/LICENSE
src/api/node_modules/mime-db/LICENSE
src/api/node_modules/mime-types/LICENSE
src/api/node_modules/mime/.npmignore
src/api/node_modules/mime/LICENSE
src/api/node_modules/mongodb/lib/async/.eslintrc
src/api/node_modules/mongoose-legacy-pluralize/LICENSE
src/api/node_modules/mongoose/node_modules/safe-buffer/LICENSE
src/api/node_modules/mpath/bench.log
src/api/node_modules/mpath/bench.out
src/api/node_modules/mpath/LICENSE
src/api/node_modules/mpath/Makefile
src/api/node_modules/mquery/.eslintignore
src/api/node_modules/mquery/LICENSE
src/api/node_modules/mquery/Makefile
src/api/node_modules/mquery/node_modules/debug/.eslintrc
src/api/node_modules/mquery/node_modules/debug/.npmignore
src/api/node_modules/mquery/node_modules/debug/LICENSE
src/api/node_modules/mquery/node_modules/debug/Makefile
src/api/node_modules/negotiator/LICENSE
src/api/node_modules/object-assign/license
src/api/node_modules/on-finished/LICENSE
src/api/node_modules/on-headers/LICENSE
src/api/node_modules/parseurl/LICENSE
src/api/node_modules/path-to-regexp/LICENSE
src/api/node_modules/proxy-addr/LICENSE
src/api/node_modules/qs/.editorconfig
src/api/node_modules/qs/.eslintignore
src/api/node_modules/qs/.eslintrc
src/api/node_modules/qs/LICENSE
src/api/node_modules/qs/test/.eslintrc
src/api/node_modules/random-bytes/LICENSE
src/api/node_modules/range-parser/LICENSE
src/api/node_modules/raw-body/LICENSE
src/api/node_modules/readable-stream/LICENSE
src/api/node_modules/regexp-clone/LICENSE
src/api/node_modules/regexp-clone/Makefile
src/api/node_modules/require_optional/.npmignore
src/api/node_modules/resolve-from/license
src/api/node_modules/safer-buffer/LICENSE
src/api/node_modules/sparse-bitfield/LICENSE
src/api/node_modules/statuses/LICENSE
src/api/node_modules/toidentifier/LICENSE
src/api/node_modules/type-is/LICENSE
src/api/node_modules/uid-safe/LICENSE
src/api/node_modules/unpipe/LICENSE
src/api/node_modules/util-deprecate/LICENSE
src/api/node_modules/utils-merge/LICENSE
src/api/node_modules/vary/LICENSE
