<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 mt-3">
			<div class="card">
				<div class="card-header card-header-primary">
					<h4 class="card-title">Location List<a class="btn btn-primary btn-sm float-right" href="/admin/location">Add Location</a>
						<input id="role" type="hidden" />
					</h4>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="offset-md-8 col-md-4 mb-3">
							<div class="input-group input-group-sm">
								<input class="form-control" id="searchlocationData" type="form-control" />
								<div class="input-group-append">
									<button class="btn_loc_search btn btn-primary">Search</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row" id="dataObject">
						<div class="col-md-12">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th> Location</th>
										<th> Action </th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor='let data of locationdata'>
										<td>{{data.locations}}</td>
										<td>
											<a class="btn btn-primary btn-xs mr-1 mb-2" [routerLink]="['/admin/locationView/', data._id]">View</a>
											<a class="btn btn-primary btn-xs mr-1 mb-2" [routerLink]="['/admin/locationEdit/', data._id]">Edit</a>
											<a class="btn btn-danger btn-xs mr-1 mb-2" (click)='delete(data._id)' >Delete</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>