<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">View Location</h5>
                    <input id="role" type="hidden" value="1">
                </div>
                <div class="card-body">
                    <div class="container-fluid border m-1 p-2">
                        <div class="border m-1 p-2">
                            <h5>Location Details</h5>
                            <div class="row">
                                <div class="col-md-4">
                                    <b>Location :</b>
                                    <span>{{locationdata.locations}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>